<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        
    .parent{
    height: 200px;
   width: 350px;
   margin: auto;
   top: 200px;
   position: relative;
   border: solid 2px black;
   background-color: aqua;
}

    form{
   display: grid;
   gap: 10px;
   padding: 1px;
   margin: 8px;
     
}
    </style>
</head>
<body>
    <div class="parent">
        <form method="post" action="/login">
            <input type="text" name="name" placeholder="What is  Name">
            <input type="text" name="surname" placeholder="wht Name"> 
            
            <button type="submit">send message</button>
        </form>
    </div>
        
    
    
</body>
</html>